.canvas-tool{
  display: grid;
  grid-template-rows: 420px;
  grid-template-columns: 620px 200px;
}

.mainCanvas {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

	position: relative;
  margin: 0px 0px 20px 20px;
}
.mainCanvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px #ccc solid;
  margin: 0px;
}
.mainTool{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 400px;

  display: grid;
  grid-auto-rows: 40px;
  grid-template-columns: 100px;

	position: relative;
  margin: 0px 20px 20px 10px;
}
.mainTool button{
  width: 100px;
  height: 40px;
  border: 1px #ccc solid;
  margin: 0px;
}
.btn {
  text-align: center;
}
.btn button {
  border: 1px #ccc solid;
}
